.button {
    background-color: transparent;
    border: none;
    color: variables.$white;
    font-size: 32px;

    &:hover {
        cursor: pointer;
        transition: variables.$transition;
        color: variables.$primary-color;
    }
}