@use "variables";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 90%;
  scroll-behavior: smooth;
}

body {
  background-color: variables.$background-primary;
  color: variables.$text-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

p, span, a, li, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 28px;
}

time {
  font-family: 'IBM Plex Mono', monospace;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #080508 #1f1f1f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #080508;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 14px;
}

