// Colors
$primary-color: #4169e1;
$background-primary: #080508;
$background-secondary: #0a0a0a;
$text-primary: #ffffff;
$text-secondary: #a3a3a3;

$border-color: rgba(#ffffff, 0.1);
$black-hover: rgba(#ffffff, 0.1);

// Typography
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$line-height-body: 1.75rem;
$line-height-title: 2.5rem;

// Spacing
$container-padding: 1rem;
$container-width: min(896px, 100vw);

// Transition
$transition: 0.15s ease-in-out;
