.button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: variables.$font-color;
    font-family: 'Poppins', sans-serif;

    &:hover {
        cursor: pointer;
        transition: variables.$transition;
        background-color: variables.$black-hover;
    }
}