.footer {
  border-top: 1px solid variables.$border-color;
  padding: variables.$container-padding;
}

.container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
